
<div class="row">
  <div class="col-sm-2">
    <app-side-nav></app-side-nav>
  </div>
  <div class="col-sm-10 ps-3 mt-2">
    <div class="tabel-containt" id="main-container">
      <button
        type="button"
        class="btn btn-outline-primary p-2 m-2 justify-content-end"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <img
          src="../../assets/Icon/Customer/person_add_FILL0_wght400_GRAD0_opsz48.png"
          alt="Bootstrap"
          width="20"
          height="20"
        />
        Add Job
      </button>
    
      <table
        datatable
        [dtOptions]="dtoptions"
        [dtTrigger]="dtTriger"
        class="table align-middle mb-0 bg-white"
      >
        <thead class="bg-light m-2">
          <tr>
            <th>id</th>
            <th>Customer name</th>
            <th>Customer Address</th>
            <th>type</th>
            <th>Status</th>
            <th>Job DUe Date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of jobs">
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{ job.id }}</p>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{ job.customer.name }}</p>
                  <p class="text-muted mb-0">{{ job.customer.contactNumber }}</p>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{ job.customer.address }}</p>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="mb-0">
                    {{ job.job_type }}
                  </p>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="mb-0">
                    <span class="badge rounded-pill bg-success jobtype">{{
                      job.job_status
                    }}</span>
                  </p>
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="mb-0">{{ job.job_date | date }}</p>
                </div>
              </div>
            </td>
    
            <td>
              <button
                type="button"
                class="btn btn-link btn-sm btn-rounded"
                (click)="onOpenModal(job, 'delete')"
              >
                <img
                  src="../../assets/Icon/Customer/delete_FILL0_wght400_GRAD0_opsz48.png"
                  alt="Bootstrap"
                  width="20"
                  height="20"
                />
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="onOpenModal(job, 'edit')"
              >
                <img
                  src="../../assets/Icon/Customer/edit_FILL0_wght400_GRAD0_opsz48.png"
                  alt="Bootstrap"
                  width="20"
                  height="20"
                />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="jobs?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">NO JOBS!</h4>
          <p>No Job were found.</p>
        </div>
      </div>
    </div>
    
    <!-- Modal add -->
    <form #addForm="ngForm" (ngSubmit)="onAddJob(addForm)">
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        data-bs-backdrop="static"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Job Details</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card mb-4">
                <div class="card-body">
                  <div>
                    <h3 class="h6 mb-4">Basic information</h3>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label class="form-label">Job type:</label>
                        <select
                          class="form-control"
                          id="job_type"
                          ngModel
                          name="job_type"
                          required
                        >
                          <option value="Inspection" >Inspection</option>
                          <option value="Service">Service</option>
                          <option value="Installation">Installation</option>
                          <option value="Breakdowns">Breakdowns</option>
                          <option value="Upgrades">Upgrades</option>
                          <option value="Remove">Remove</option>
                          <!-- Add more options as needed -->
                        </select>
                        <div
                          *ngIf="
                            addForm.controls['job_type'].invalid &&
                            (addForm.controls['job_type'].dirty ||
                              addForm.controls['job_type'].touched)
                          "
                        >
                          <small
                            class="text-danger"
                            *ngIf="addForm.controls['job_type'].errors?.['required']"
                            >Job type is required.</small
                          >
                        </div>
                      </div>
                    </div>
    
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label class="form-label">Job due date :</label>
                        <input
                          type="date"
                          class="form-control"
                          id="job_date"
                          ngModel
                          name="job_date"
                          required
                        />
                        <div
                          *ngIf="
                            addForm.controls['job_date'].invalid &&
                            (addForm.controls['job_date'].dirty ||
                              addForm.controls['job_date'].touched)
                          "
                        >
                          <small
                            class="text-danger"
                            *ngIf="addForm.controls['job_date'].errors?.['required']"
                            >Job due date is required.</small
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label class="form-label">Customer Name:</label>
                        <select
                          class="form-control"
                          id="customer_id"
                          [(ngModel)]="customerId"
                          name="customer_id"
                          required
                        >
                          <option
                            *ngFor="let customer of customersList"
                            [value]="customer.id"
                          >
                            {{ customer.name }}
                          </option>
                        </select>
    
                        <div
                          *ngIf="
                            addForm.controls['customer_id'].invalid &&
                            (addForm.controls['customer_id'].dirty ||
                              addForm.controls['customer_id'].touched)
                          "
                        >
                          <small
                            class="text-danger"
                            *ngIf="addForm.controls['customer_id'].errors?.['required']"
                            >Customer ID is required.</small
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label class="form-label">Job location :</label>
                        <input
                          type="text"
                          class="form-control"
                          id="location"
                          ngModel
                          name="location"
                          required
                        />
                        <div
                          *ngIf="
                            addForm.controls['location'].invalid &&
                            (addForm.controls['location'].dirty ||
                              addForm.controls['location'].touched)
                          "
                        >
                          <small
                            class="text-danger"
                            *ngIf="addForm.controls['location'].errors?.['required']"
                            >Job due date is required.</small
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                id="add-job-form"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                [disabled]="addForm.invalid"
                type="submit"
                class="btn btn-primary"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    <form #editForm="ngForm">
      <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Edit job {{ editJob?.id }}
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card mb-4">
                <div class="card-body">
                  <div>
                    <h3 class="h6 mb-4">Basic information</h3>
                  </div>
    
                  <input
                    type="hidden"
                    class="form-control"
                    id="jobCode"
                    ngModel="{{ editJob?.jobCode }}"
                    name="jobCode"
                  />
                  <!-- <input
                          type="hidden"
                          class="form-control"
                          id="job_type"
                          ngModel="{{ editJob?.job_type }}"
                          name="job_type"
                          
                        /> -->
                  <input
                    type="hidden"
                    class="form-control"
                    id="id"
                    ngModel="{{ editJob?.id }}"
                    name="id"
                  />
    
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label class="form-label">Job due date :</label>
                        <input
                          type="date"
                          class="form-control"
                          id="job_date"
                          ngModel="{{ editJob?.job_date }}"
                          name="job_date"
                          required
                        />
                        <div
                          *ngIf="
                            editForm.controls['job_date'].invalid &&
                            (editForm.controls['job_date'].dirty ||
                              editForm.controls['job_date'].touched)
                          "
                        >
                          <small
                            class="text-danger"
                            *ngIf="editForm.controls['job_date'].errors?.['required']"
                            >Job due date is required.</small
                          >
                        </div>
                      </div>
                    </div>
    
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label class="form-label">Customer Name:</label>
                        <select
                          class="form-control"
                          id="customer_id"
                          [(ngModel)]="EditcustomerId"
                          name="customer_id"
                          required
                        >
                          <option
                            *ngFor="let customer of customersList"
                            [value]="customer.id"
                          >
                            {{ customer.name }}
                          </option>
                        </select>
    
                        <div
                          *ngIf="
                            addForm.controls['customer_id'].invalid &&
                            (addForm.controls['customer_id'].dirty ||
                              addForm.controls['customer_id'].touched)
                          "
                        >
                          <small
                            class="text-danger"
                            *ngIf="addForm.controls['customer_id'].errors?.['required']"
                            >Customer ID is required.</small
                          >
                        </div>
                      </div>
                    </div>
    
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label class="form-label">Job type:</label>
                        <select
                          class="form-control"
                          id="job_type"
                          [(ngModel)]="selectedJobType"
                          name="job_type"
                          required
                        >
                          <option value="Inspection">Inspection</option>
                          <option value="Service">Service</option>
                          <option value="Installation">Installation</option>
                          <option value="Breakdowns">Breakdowns</option>
                          <option value="Upgrades">Upgrades</option>
                          <option value="Remove">Remove</option>
                          <!-- Add more options as needed -->
                        </select>
                        <div
                        *ngIf="
                          addForm.controls['job_type'].invalid &&
                          (addForm.controls['job_type'].dirty ||
                            addForm.controls['job_type'].touched)
                        "
                      >
                        <small
                          class="text-danger"
                          *ngIf="addForm.controls['job_type'].errors?.['required']"
                          >Job type is required.</small
                        >
                      </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label class="form-label">Job location :</label>
                        <input
                          type="text"
                          class="form-control"
                          id="location"
                          ngModel ={{editJob?.location}}
                          name="location"
                          required
                        />
                        <div
                          *ngIf="
                            addForm.controls['location'].invalid &&
                            (addForm.controls['location'].dirty ||
                              addForm.controls['location'].touched)
                          "
                        >
                          <small
                            class="text-danger"
                            *ngIf="addForm.controls['location'].errors?.['required']"
                            >Job due date is required.</small
                          >
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                id="add-customer-form"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                (click)="onUpdateJob(editForm.value)"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    <div
      class="modal delete"
      id="exampleModal3"
      tabindex="-1"
      aria-labelledby="exampleModal3"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabedelete">Detele Job</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Are you want to delete Job {{ deleteJob?.id }}? 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              No
            </button>
            <button
              (click)="onDeleteJob(deleteJob.id)"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div> 





