.jobtype {
  font-variant: normal;
  font-weight: normal;
}
.table {
  border: 20px;
}
.border-bottom {
  border-left: 20px solid #e6ecff;
  border-right: 20px solid #e6ecff;
  border-top: 20px solid #e6ecff;
}
.customerCount{
  margin-left: 10px;
  font-size: 12px;
  color: #999;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-outline-primary {
  margin-left: 20px;
}
.tabel-containt {
  padding: 20px;;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
  border: 20px solid #e6ecff;
  font-size: 0.75rem;
  height: 100vh;
}

.customer-background{
  
  background-color: aqua;
}