<div class="container p-4">
  <div class="form-container" style="padding-left: 20px">
    <form class="forget-password-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-header">
        <h4>Forgot Password?</h4>
        <p>
          Please enter the email associated with your account to reset your password.
        </p>
      </div>
      <div class="form-body">
        <div class="form-group">
          <input type="email" id="email" placeholder="Enter your email here" name="email" class="form-control mb-3" ngModel required />
        </div>
      </div>
      <div class="form-footer" style="margin-top: 20px">
        <button type="submit" class="btn btn-primary">Reset the password</button>
      </div>
    </form>
  </div>
</div>
